@font-face {
    font-family: 'voca-font';
    src: url("../fonts/vocaloid/VOC-IT.ttf") format('truetype');
}
@font-face {
    font-family: 'voca2-font';
    src: url("../fonts/vocaloid/VOC-RE.ttf") format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    background: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 2rem 0;
    
}

#header-logo{
    max-width: 15rem;
    max-height: 5rem;
}

#ul-nav{
    display: flex;
    
}

 a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
    display: inline;
    font-size: 2em;
}

#presentacion{
    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    padding: 3rem 0 3rem 0;
    
}


#presentacion article{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: rgba(2, 218, 185, 0.6);
}

#description{
    font-size: 2em;
    width: 40rem;
    font-family: 'voca2-font', 'sans-serif';
}

 h1{
    font-size: 8rem;
    font-family: 'voca-font', 'sans-serif';
}

#presentacion-figure img{
max-width: 34em;
max-height: 30em;
border-radius: 10%;
}
figure {
    text-align: center;
}

#album-collection{
    background: linear-gradient(#c4f9f9,#2ea7a7);
}

h2{
    text-align: center;
    font-size: 7em;
    font-family: 'voca-font', 'sans-serif';
}


#collections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'voca2-font','sans-serif';
    

}

#album-collection img{
    max-width: 28rem;
    max-height: 28rem;
}

.collection:hover{
    transform: translate(1rem, -2rem);
    transition: all .5s ease-in;
   
}

.collection-miku:hover > figcaption{
color: #34cbdb;
}

.collection-meiko:hover > figcaption{
    color: #860c0c;
    }

.collection-luka:hover > figcaption{
        color: #c50284;
 }

 .collection-kagamine:hover > figcaption{
    color: #ffc507;
}

#quote-section{
 position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}



#quote-container{
    background-color: #5c7adb94;
    border-radius: 2rem;
    color: #e2e2e2;
    width: 70%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;

}

#quote{
    font-size: 3em;
    font-style: italic;
}



#invitation-container{
    background: linear-gradient(#c4f9f9,#2ea7a7);
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 4rem 0;
}

#invitation{
    font-family: 'voca2-font', 'sans-serif';
    background: #e243f0;
    border-radius: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#invitation p{
     font-size: 3rem;
    
}

#invitation button{
    border: 3px solid #fff;
    background-color: #d108b694;
    border-radius: 10%;
    font-size: 4em;
    cursor: pointer;
}

footer{
    text-align: center;
    color: #fff;
    background: #000;
}

@media screen and (max-width: 850px){
    #header-logo{
        width: 12rem;
        
    }
    li{
        font-size: 2rem;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 4rem;
    }
}

@media screen and (max-width: 680px){
    #header-logo{
        width: 5rem;
        
    }
    li{
        font-size: 1rem;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 3rem;
    }

    #presentacion-figure img{
        max-width: 20em;
        max-height: 14em;
     }
     #album-collection img{
        max-width: 20rem;
        max-height: 20rem;
    }


     #quote{
        font-size: 1.5em;
       
    }

     #invitation p{
        font-size: 2rem;
       
   }
   
   #invitation button{
       font-size: 2.5em;
      
   }



}






